<h1>鍵盤救災</h1>

<% if current_user %>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
      <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
      <% end %>

<table>

	<tr>
	<td><h2>Title</h2></td>
	<td><h2>Time</h2></td>
	</tr>

	<% @boards.each do |board| %>
	<tr>
	<td><%= link_to board.title, board_path(board) %> </td>
	<td> <%= board.created_at %> </td>
	</tr>

<% end %>

</table>

</br></br>
<div> <%= link_to 'New Article',new_board_path %> </div>